<audio autoplay="true" loop="true">
    <source src="/images/ambient_sound.mp3" type="audio/mpeg">
    Your browser does not support the audio tag.
</audio>


<div id="background-container" content scroll="false">
  <img src="../images/wood-bg.jpg" />
</div>