<audio autoplay="true" loop="true">
    <source src="/images/teampage.mp3" type="audio/mpeg">
    Your browser does not support the audio tag.
</audio>

<div id="background-container">
    <img src="/images/team-wallpaper2.jpg" alt="Team" boarder="0" usemap="#teamframes" />

    <map name="teamframes">

        <!-- Jessica's Frame -->
        <area  alt="" title="" href="https://ca.linkedin.com/pub/jessica-elliot/47/286/a61" shape="rect" coords="669,111,810,294" style="outline:none;" target="_blank"  />
        
        <!-- Nauman's Frame -->
        <area  alt="" title="" href="https://ca.linkedin.com/pub/nauman-mithani/25/500/10" shape="rect" coords="668,474,809,657" style="outline:none;" target="_blank"  />
        
        <!-- Jeremy's Frame -->
        <area  alt="" title="" href="https://ca.linkedin.com/in/jeremyzcheng" shape="rect" coords="961,62,1122,190" style="outline:none;" target="_blank"  />
        
        <!-- Vasili's Frame -->
        <area  alt="" title="" href="https://ca.linkedin.com/in/vasilisviridov" shape="rect" coords="960,320,1121,448" style="outline:none;" target="_blank" />
        
        <!-- Samuel's Frame -->
        <area  alt="" title="" href="https://ca.linkedin.com/in/samuelsan" shape="rect" coords="361,62,522,190" style="outline:none;" target="_blank"   />
        
        <!-- Jorge's Frame -->
        <area  alt="" title="" href="http://www.jorgeluismendez.com/" shape="rect" coords="361,321,522,449" style="outline:none;" target="_blank"  />
        
        <!-- Lighthouse Labs Frame -->
        <area  alt="" title="" href="http://www.lighthouselabs.ca/" shape="rect" coords="360,580,521,708" style="outline:none;" target="_blank"  />
        
        <!-- Don's Frame -->
        <area  alt="" title="" href="https://ca.linkedin.com/in/donaldburks" shape="rect" coords="961,578,1122,706" style="outline:none;" target="_blank"  />
    </map>
</div>

<center><div id="JessicaModal" class="modal fade" role="dialog">
  <div class="modal-dialog">

    <!-- Modal content-->
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal">&times;</button>
        <h4 class="modal-title">Jessica</h4>
      </div>
      <div class="modal-body">
        <p>Some text in the modal.</p>
      </div>
      <div class="modal-footer">
        <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
      </div>
    </div>

  </div>
</div></center>
