<div>
  <% flash.each do |key, value| %>
    <div class="alert <%= flash_class(key) %> fade in alert-dismissible">
      <button type="button" class="close" data-dismiss="alert" aria-label="Close">
        <span aria-hidden="true">&times;</span>
      </button>
      <%= value %>
    </div>
  <% end %>
</div>
